{% extends "base/main.html" %}
{% load i18n %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'ad/css/item-details.css' %}">
{% endblock head %}
{% block body %}
    <div class="item-preview">
        <div class="l">
            <h2>{{ ad.name }}</h2>
            <span>{% trans 'item_status' %}:
                    {% if ad.status == "a" %}
                        {% trans "perfect_st" %}
                    {% elif ad.status == "b" %}
                        {% trans "used_st" %}
                    {% else %}
                        {% trans "item_status_undef" %}
                    {% endif %}
                </span>
            {% if ad.description %}<p class="desc-zone">{{ ad.description }}</p>{% endif %}
                <div class="ex-requests">
                    {% if input_ex %}
                        <label for="input_items">{% trans "see_input_ex" %}:</label>
                        <div id="input_items">

                        </div>
                    {% endif %}
                    {% if output_ex %}
                        <label for="output_items">{% trans "see_output_ex" %}:</label>
                        <div id="output_items">

                        </div>
                    {% endif %}
                </div>
        </div>
        <div class="r">
            {% if ad.image %}
                <img src="{{ ad.preview_thumb.url }}">
            {% else %}
                <img src="{% static 'ad/images/no_preview.png' %}" class="no-image">
            {% endif %}
            <div class="show-ex-requests">
                {% if not ad.owner.id == request.user.id %}
                    <a href="{% url 'exchange-init-list' ad.id %}">{% trans "make-ax-page" %}</a>
                {% endif %}
                <a href="{% url 'offer-request-list' ad.id 'in' %}">{% trans "show-ex-input-page" %}</a>
                {% if not ad.owner.id == request.user.id %}
                    <a href="{% url 'offer-request-list' ad.id 'out' %}">{% trans "show-ex-output-page" %}</a>
                {% else %}
                    <a href="{% url 'offer-request-list' ad.id 'out' %}">{% trans "i-show-ex-output-page" %}</a>
                {% endif %}
            <div>
        </div>
    </div>
{% endblock body %}
{% block script %}{% endblock script %}

